.font-caveat {
    font-family: 'Caveat', cursive;
}
.font-ptsans-bold {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}
.label{
    margin: 0px 20px 20px 20px;
    font-size: 50px;
}
.form-container {
    color: white;
    background-color: #4D77FF;
    padding: 20px 30px;
}
.control-box {
    border: black 2px solid;
}
#btn-add-item{
    color: white;
    font-family: "Caveat Brush", cursive; 
    font-size: 15px;
}
.form-input{
    width: 100%;
}