.font-caveat {
    font-family: 'Caveat', cursive;
}
.font-ptsans-bold {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}
.label{
    margin-bottom: 20px;
}
.card-image {
    border-width: 100%;
}
.form-container {
    color: white;
    background-color: #4D77FF;
    padding: 20px 30px;
}
.control-box {
    border: black 2px solid;
}
.main-title{
    margin: 40px 30px;
    font-family: 'Caveat Brush', cursive;
    font-size: 60px;
}