.navbar {
    background-color: #0E185F;
    color: white;
}
#home-nav-link{
    font-style: "PT Sans", sans-serif;
}
#nav-logo {
    font-family: 'Skranji', cursive;
    font-size: 1.5em;
    color: #00FFDD;
    margin-right: 40px;
}
#nav-logo-span{
    color: #E8FFC2;
}