.title {
    font-size: 50px;
    font-family: 'Skranji', cursive;
    color: #0E185F;
    margin-top: 30px;
    text-align: center;
}
.subtitle {
    font-size: 20px;
    font-family: 'Skranji', cursive;
    color: #2FA4FF;
    margin: 0px;
    text-align: center;
}