.title {
    font-size: 50px;
    font-family: 'Skranji', cursive;
    color: #0E185F;
    margin-top: 70px;
    margin-bottom: 0px;
    text-align: center;
}
.subtitle {
    font-size: 20px;
    font-family: 'Skranji', cursive;
    color: #2FA4FF;
    margin: 0px;
    text-align: center;
}

#dashboards-container {
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}