.card-header {
    font-size: 30px;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
}
.food-card {
    font-family: "PT Sans", sans-serif;
    text-align: center;
}

/* Ingredient Tyle Label Color */
.vegetable{
    background-color: #B3E283;
}
.olive-oils {
    background-color: #E8E46E;
}
.fish {
    background-color: #D6ECFA;
}
.fruit {
    background-color: #C060A1;
    color: white;
}
.grains-nuts-baking{
    background-color: #F9D5BB;
}
.herbs-spices{
    background-color: #810000;
    color: white;
}
.meat{
    background-color: #810000;
    color: white;
}
.dairy{
    background-color: #E8E2DB;
}
.poultry{
    background-color: #99B19C;
}
.other{
    background-color: #FDF6F0;
}