.ingredient-search{
    width: 100%;
    margin: 20px;
    font-style: "Caveat Brush", cursive;
}
#ingredient-item-container {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
}


