.ingredient-search{
    width: 100%;
    margin: 20px;
    font-style: "Caveat Brush", cursive;
}
#ingredient-item-container {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.main-title{
    margin: 20px 30px;
    font-family: 'Skranji', cursive;
    font-size: 60px;
    text-align: center;
}