#recipe-title-summary{
    font-size: 30px;
    text-align: center;
    font-family: "Skranji", cursive;
}
.recipe-summary-paper {
    padding: 0px 10px 10px 10px;
    font-family: "PT Sans", sans-serif;
}