#recipe-title-summary{
    font-size: 30px;
    text-align: center;
    font-family: "Skranji", cursive;
    background-color: #E8FFC2;
    border-radius: 5px;
    color: black;
}
.recipe-summary-paper {
    padding: 10px 10px 10px 10px;
    font-family: "PT Sans", sans-serif;
}
#recipes-button{
    font-family: 'PT Sans', sans-serif;  
}